* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
}

/* topheader */
.top-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 15%;

  border-bottom: 2px solid gray;
}

.social-link {
  padding: 0 10px;
}

.bottom-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 15%;
  align-items: center;
}

.logo-text {
  font-size: 32px;
}

.nav-link {
  padding: 0 10px;
}

.nav li:first-child {
  border-bottom: 3px solid #000;
  padding-bottom: 16px;
}

.main-banner {
  height: 520px;

  padding: 5%;

  background-image: url("../assets/banner.jpg");
  background-position: top;
  background-size: cover;
}

.welcome-text {
  color: #13c5dd;
}
.slogan {
  width: 50%;
  color: white;
  font-size: 64px;
}
.find,
.appointment {
  font-size: 16px;

  padding: 15px 35px;
  border: 2x solid white;
  border-radius: 25px;
  border: none;
  margin: 0 10px;
  border: 1px solid white;
}

.find {
  background-color: white;
  color: #000000;
}
.appointment {
  background-color: #ffffff00;
  color: white;
}
