body {
	background-color: #141B1E;
}

h3{
	background-color: red;
}

.header{
	background-color: #698798;
	color: white;
	text-align: center;
}

.paragraph{
	background-color: #2d3b42;
	color: white;
	border: 2px #acdea0;
}

#p1{
	font-size: 24px;
}

#p2{
	font-weight: 700;
	background-color: #acdea0;
	color: black;
}
